<tr>
  <th scope="row">{{@index}}</th>
  <td><input type="text" value="{{name}}" data-idName="{{id}}"></input></td>
  <td> <input type="text" value="{{description}}" data-idDescritpion="{{id}}"></input></td>
  <td>
    <button
      type="submit"
      {{! id="deleteItem" }}
      class="btn btn-danger"
      data-id="{{id}}"
    >Delete</button>

  </td>
  <td>
    <button
      type="submit"
      {{! id="deleteItem" }}
      class="btn btn-danger"
      data-idUpdate="{{id}}"
    >update</button>

  </td>
</tr>